.login{
    background-color: #f2f4f7;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft  {
    color: #0866ff;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.loginRight {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginDesc{
    font-size: 24px;
    color: black
}


.loginBox{
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.loginInput{
    height: 50px;
    padding: 20px;
    background-color: #fff;
    background-repeat: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    bottom: none;
    background-color: #1775ee;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;
    font-style: 20px;
    font-weight: 500;
}

.loginRegisterButton{
    height: 50px;
    border-radius: 10px;
    bottom: none;
    background-color: #42b72a;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none; 
    width: 60%;
    align-self: center;
    font-style: 20px;
}

.loginForgot{
    color: #1775ee;
    align-self: center;
    cursor: pointer;
margin-bottom: 30px;
}

.loginForgot:hover{
    text-decoration: underline;
}